{% extends 'food/base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6 p-4 bg-dark text-light text-center">
                <h3>Login</h3>
                <a href="{% url 'food:signup' %}">Sign Up</a>
                <form method="POST" class="p-2">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="username" placeholder="Username">                
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="********">                 
                    </div>
                    
                    <button type="submit" class="btn-info">Login</button>
                    {% if messages %}
                        <ul class="pt-2 text-center">
                            {% for msg in messages %}
                            <li style="color: red;">{{ msg }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}